@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@theme {
	--color-cream: #f0e8d9;
	--color-rust: #934215;
	--color-navy: #163040;
	--color-teal: #0f4450;
	--color-olive: #8b947e;
	--font-sans: 'Dosis', sans-serif;
	--font-script: 'Dancing Script', cursive;
}

@layer base {
	body {
		font-family: var(--font-sans);
	}
}

@keyframes scroll-left {
	to {
		transform: translateX(-50%);
	}
}
